@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > header,
main {
  width: 60vw;
  margin-inline: auto;
  padding-inline: 1.25rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  display: inline;
}

body {
  font-family: 'Quicksand', sans-serif;
}

/* Document Header */

body > header {
  background-color: #d1bdff;
  padding-bottom: 1.25rem;
}

body > header ul {
  display: flex;
  column-gap: 0.625rem;
}

body > header li {
  border: 1px solid blue;
  padding: 0.3125rem;
}

body > header h1 {
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
}
