@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > * {
  width: 60vw;
  margin-inline: auto;
  padding-inline: 1.25rem;
  background-color: #d1bdff;
  margin-bottom: 0.9375rem;
  border-radius: 5px;
}

body > *:not(:first-child) {
  padding-block: 0.625rem;
}

main > * {
  padding-block: 0.625rem;
}

aside {
  padding-block: 0.625rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

body {
  font-family: 'Quicksand', sans-serif;
  padding-top: 1.25rem;
}

/* Document Header */

body > header {
  background-color: #d1bdff;
  padding-bottom: 1.25rem;
}

body > header ul {
  display: flex;
  column-gap: 0.625rem;
}

body > header li {
  padding: 0.3125rem;
  font-size: 14px;
}

body > header h1 {
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
}

/* Articles */

article ul {
  margin-block: 0.625rem;
}

article ul li::marker {
  content: '✔ ';
}

article ol {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  margin-block: 0.625rem;
}

article li {
  list-style-position: inside;
}

article p {
  margin-block: 0.625rem;
}

/* Sections */

section {
  margin-top: 1.25rem;
}

/* Asides */

aside#inquiry form div {
  padding-block: 0.625rem;
}

aside#inquiry form div > * {
  display: block;
  width: 100%;
}

aside#inquiry label {
  margin-bottom: 0.3125rem;
}

aside#inquiry input,
aside#inquiry textarea {
  font-size: large;
  border: none;
  padding: 0.625rem;
  border-radius: 5px;
}

aside#inquiry .buttons {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
}

aside#inquiry .buttons button {
  flex-basis: 20%;
  font-size: large;
  padding-block: 0.3125rem;
  border: 1px solid #d1bdff;
  border-radius: 5px;
}

/* Classes */
.border-top {
  border-top: 0.0625rem solid blue;
}

.inline-list > li {
  display: inline;
  border: 0.0625rem solid #4476bb;
  padding: 0.1875rem 0.625rem;
  border-radius: 5px;
}
